.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
  .user-forms, .register-user-forms, .forgotPassword-forms{
    width: 400px;
    background: #dad8d8;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-container {
    background:  #fff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0px 6px 16px rgba(0,0,0,0.15);
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .form-container.active {
    display: flex;
  }
  
  .form-container h2 {
    color: #0077b6;
    margin-bottom: 30px;
    font-size: 2rem;
  }
  
  /* Input + Icon */
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px 10px 12px 45px;
    border: none;
    border-radius: 30px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 1rem;
  }
  
  .input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #0077b6;
    font-size: 18px;
  }
  
  /* Button */
  .btn {
    width: 100%;
    padding: 12px;
    background: #0077b6;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .btn:hover {
    background: #005f87;
  }
  
  /* Link nhỏ */
  .toggle-link {
    color: #0077b6;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .toggle-link:hover {
    color: #005f87;
  }
  
  /* Footer margin */
  .footer {
    margin-top: 60px;
  }
  